<section ng-controller="rechercheController as ctrl">
    <section id="contenu" class="container-fluid">
        <div class="row">
            <form id="form_med" class="form-horizontal col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="col-md-8">
                    <div class="col-md-4">
                        <div class="row form-group">
                            <label for="titre" class="control-label col-xs-12 col-sm-4">Titre:
                            </label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="titre" type="text" placeholder="titre" class="form-control" ng-model="ctrl.trie.tmpFilter.titre" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row form-group">
                            <label class="control-label col-xs-12 col-sm-4" for="auteur">Auteur:
                            </label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="auteur" type="text" placeholder="auteur" class="form-control" ng-model="ctrl.trie.tmpFilter.auteur" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row form-group">
                            <label class="control-label col-xs-12 col-sm-4" for="type">Type:
                            </label>
                            <div class="col-xs-12 col-sm-8">
                                <select id="type" class="form-control" ng-model="ctrl.trie.tmpFilter.type">
                                    <option></option>
                                    <option>CD</option>
                                    <option>DVD</option>
                                    <option>Livre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.filter()">Rechercher</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nouveauMedia">Nouveau</button>
                </div>
            </form>
        </div>
    </section>
    <hr>
    <section class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titre
                            <span class="trieforce glyphicon glyphicon-chevron-up" ng-click="ctrl.order('titre', 'up')" title="croissant"></span>
                            <span class="trieforce glyphicon glyphicon-chevron-down" ng-click="ctrl.order('titre', 'down')" title="décroissant"></span>
                        </th>
                        <th>Auteur
                            <span class="trieforce glyphicon glyphicon-chevron-up" ng-click="ctrl.order('auteur', 'up')" title="croissant"></span>
                            <span class="trieforce glyphicon glyphicon-chevron-down" ng-click="ctrl.order('auteur', 'down')" title="décroissant"></span>
                        </th>
                        <th>Type
                            <span class="trieforce glyphicon glyphicon-chevron-up" ng-click="ctrl.order('type', 'up')" title="croissant"></span>
                            <span class="trieforce glyphicon glyphicon-chevron-down" ng-click="ctrl.order('type', 'down')" title="décroissant"></span>
                        </th>
                        <th>Emprunté par qui ?
                            <span class="trieforce glyphicon glyphicon-chevron-up" ng-click="ctrl.order('emprunteur', 'up')" title="croissant"></span>
                            <span class="trieforce glyphicon glyphicon-chevron-down" ng-click="ctrl.order('emprunteur', 'down')" title="décroissant"></span>
                        </th>
                        <th>Date de retour prévue
                            <span class="trieforce glyphicon glyphicon-chevron-up" ng-click="ctrl.order('retour', 'up')" title="croissant"></span>
                            <span class="trieforce glyphicon glyphicon-chevron-down" ng-click="ctrl.order('retour', 'down')" title="décroissant"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="elm in ctrl.listeMedia | filter:ctrl.trie.filter | orderBy:ctrl.trie.order.libelle:ctrl.trie.order.reverse"
                    ng-click="ctrl.ficheMedia(elm.id)" style="cursor: pointer">
                        <td ng-bind="elm.titre"></td>
                        <td ng-bind="elm.auteur"></td>
                        <td ng-bind="elm.type"></td>
                        <td>{{ elm.emprunteur.nom }} {{ elm.emprunteur.prenom }}</td>
                        <td ng-bind="elm.retour"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="nouveauMedia" tabindex="-1" role="dialog" aria-labelledby="nouveauMediaModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <!-- entête de la modale -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="nouveauMediaModalLabel">
						<span class="hidden-xs">Ajout d'un </span>nouveau média
					</h4>


                </div>


                <!-- corps de la modale -->
                <div class="modal-body">
                    <!-- formulaire à renseigner -->
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="titre" class="col-sm-2 control-label">Titre*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="titre" placeholder="Titre" required ng-model="ctrl.media.titre">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">Type*</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="type" required ng-model="ctrl.media.type">
                                    <option>Livre</option>
                                    <option>CD</option>
                                    <option>DVD</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="auteur" class="col-sm-2 control-label">Auteur*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="auteur" placeholder="Auteur" required ng-model="ctrl.media.auteur">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" ng-click="ctrl.ajoutMedia()">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</section>