/*----------- décalage à cause de la navbar ---------------*/
section#contenu { margin-top: 5em; }

/*------------ formulaire général --------------*/
form { text-align:center;}
form select { margin-top: 1.5em;}
form button { margin-top: 1.3em;}

/*------------- ficheMedia.html --------------*/
#hr { display: block; }