/*----------- formulaire général -----------*/
#lab_nom, #lab_auteur { margin-left: 0.5em; }
form button[type=submit] { margin-left: 2em; }
form select, form button { margin-top: 0; }

/*------------- ficheMedia.html --------------*/
form div.row { margin-bottom: 1em; }
#hr, #hideMeForMd { display: none; }