	<div class="intro-header">
	
		<div class="container">
			<div class="row hidden-xs">
				<div class="col-md-12">
					<div class="intro-message ">
                        <h1>MEDIATIC</h1>
                        <h3>Automatisez votre médiathèque</h3>
                        <hr class="intro-divider">
            	    </div>
				</div>
				
			
			</div>
			<div class="row">
                <form class=" form-signin col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4"
				id="connexion"
                ng-submit="loginCtrl.authenticate()">
                    <h2 class="form-signin-heading" id="connect">Connexion</h2>
				    <label for="identifiant" class="sr-only">Identifiant</label>
                    <input
					type="text" id="identifiant" class="form-control"
					placeholder="Identifiant" 
                    ng-model="loginCtrl.logins.login" required autofocus/>
                    
                    <label for="inputPassword" class="sr-only">Mot de passe</label> 
                    <input
					type="password" id="inputPassword" class="form-control"
					placeholder="Mot de passe" required
                    ng-model="loginCtrl.logins.password"/>

				<div class="checkbox">
					<label> <input type="checkbox" value="remember-me" ng-model="loginCtrl.logins.rememberme">
						Rester connecté
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" id="connexionButton" type="submit">Connexion</button>
			</form>
			</div>
			

		</div>
	</div>




