body, html {
	width: 100%;
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.intro-header {
	padding-top: 50px;
	/* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background: url(../images/biblio03.jpg) no-repeat center center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.intro-message {
	position: relative;
	padding-top: 15%;
	padding-bottom: 2%;
}

.intro-message>h1 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	font-size: 5em;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

#connexion {
	background-color: rgba(41, 102, 119, 0.7);
	border-radius: 20px;
}

.form-signin {
	padding: 15px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}