<!--<section >
    <h3>Informations générales</h3>
    <table>
        <tbody>
            <tr>
                <td>Nom</td><td>{{adherentCtrl.mockAdherent.nom}}</td>
            </tr>
            <tr>
                <td>Prénom</td><td>{{adherentCtrl.mockAdherent.prenom}}</td>
            </tr>
            <tr>
                <td>Date de naissance</td><td>{{adherentCtrl.mockAdherent.date_naissance | dateFormater}}</td>
            </tr>
            <tr>
                <td>Age</td><td>{{adherentCtrl.mockAdherent.age}}</td>
            </tr>            
            <tr>
                <td>E-mail</td><td>{{adherentCtrl.mockAdherent.email}}</td>
            </tr>
            <tr>
                <td>adresse</td>
                <td>{{adherentCtrl.mockAdherent.adresse.ligne1}} <br/>
                 {{adherentCtrl.mockAdherent.adresse.ligne2}} <br/>
                 {{adherentCtrl.mockAdherent.adresse.codepostal}}</td>
            </tr>
            <tr>
                <td>Ville</td><td>{{adherentCtrl.mockAdherent.adresse.ville}}</td>
            </tr>
        </tbody>
    </table>
    
    <h3>Cotisation</h3>
    <table>
        <tbody>
            <tr>
                <td> début</td><td>{{adherentCtrl.mockAdherent.cotisation.debut}}</td>
                <td> fin</td><td>{{adherentCtrl.mockAdherent.cotisation.fin}}</td>
                 <td>Montant</td><td>{{adherentCtrl.mockAdherent.cotisation.montant | currency}}</td>
            </tr>
        </tbody>
    </table>
    
</section>-->

<mediatic-navbar></mediatic-navbar>

<section id="fiche-adherent" class="container-fluid main-section">
<div class="row spaced-row">

		<form id="form_adh" class="form-horizontal col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
			<fieldset >
				<legend>Information générale</legend>
				<div class="col-md-8">
				<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon ">Nom</span>
					<p class="form-control ">{{adherentCtrl.mockAdherent.nom}}</p>
				</div>
				</div>
				<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon">Prénom</span>
					<p class="form-control">{{adherentCtrl.mockAdherent.prenom}}</p>
				</div>
				</div>
					
				<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon">E-mail</span>
					<p class="form-control">{{adherentCtrl.mockAdherent.email}}</p>
					</div>
					</div>
				</div>
				<br><br>
				<div class="col-md-8">
				<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon ">Date de naissance</span>
					<p class="form-control ">{{adherentCtrl.mockAdherent.date_naissance | date: 'dd/MM/yyyy'}}</p>
				</div>
				</div>
				<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">age</span>
					<p class="form-control">{{adherentCtrl.mockAdherent.age}}</p>
				</div>
				</div>
					
				<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">Adresse</span>
					<p class="form-control">{{adherentCtrl.mockAdherent.adresse.ligne1}}
                 {{adherentCtrl.mockAdherent.adresse.ligne2}}  
                 {{adherentCtrl.mockAdherent.adresse.codepostal}}
                 {{adherentCtrl.mockAdherent.adresse.ville}}
            </p>
					</div>
					</div>
				</div>
				<br><br>
				
			</fieldset>
			<fieldset>
				<legend>Cotisation</legend>
				<div class="col-md-8">
				<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon ">Début</span>
					<p class="form-control " >{{adherentCtrl.mockAdherent.cotisation.debut | date: 'dd/MM/yyyy'}}</p>
				</div>
				</div>
				<div class="col-md-4">
				<div class="input-group">
					<p class="form-control">{{adherentCtrl.mockAdherent.cotisation.montant}}</p>
					<span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
				</div>
				</div>
					
				<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon">Fin</span>
					<p class="form-control">{{adherentCtrl.mockAdherent.cotisation.fin | date: 'dd/MM/yyyy'}}</p>
					</div>
					</div>
				</div>
		
			</fieldset>
			<br>
			<button type="button" class="btn btn-primary"
			data-toggle="modal" data-target="#modificationAdherent">Modifier</button>
			<button type="button" class="btn btn-primary"
			data-toggle="modal" data-target="#ajoutEmprunt">Ajouter un emprunt</button>
		</form>
</div>

<div ng-include="'views/adherent-view/loansview.html'"></div>

<div class="col-xs-12"><div ng-include="'views/adherent-view/modalAdherent.html'"></div></div>
        
</section>
    
    

    	
